body {
    background-color: rgb(0, 0, 0);
    overflow: visible;
}

.iancho {
    width: 100%;
}

#background1 {
    height: 200px;
    width: 100%;
    object-fit: cover;
}
header{
    background-color: black;
    height: 60px;
    
}

h1 {
    color: white;
    float: left;
    font-family: fantasy;
    font-size: 0.8cm;
    margin: 12px 10px 10px 10px;
}

#boton3 {
    width: 200px;
    height: 50px;
    margin: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: fantasy;
    font-size: 30px;
    border: 1px solid black;
    float: right;
}
#boton3:hover {
    background-color: white;
    color: black;
}

#boton2 {
    width: 200px;
    height: 50px;
    margin: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: fantasy;
    font-size: 30px;
    border: 1px solid black;
    float: right;
}
#boton2:hover {
    background-color: white;
    color: black;
}

#boton1 {
    width: 200px;
    height: 50px;
    margin: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: fantasy;
    font-size: 30px;
    border: 1px solid black;
    float: right;
}
#boton1:hover {
    background-color: white;
    color: black;
}

.contenedor2 {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .contenido {
    text-align: center;
  }
  
  #titulo {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 24px;
    color: #888;
    margin-bottom: 20px;
  }